.addProductForm {
    max-width: 500px;
    text-align: center;
    margin: 15px auto;
    min-height: 50vh;

    &__title {
      margin-bottom: 20px;
      font-size: 24px;
    }
  
    &__form {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: white;
  
      &__field {
        margin-bottom: 10px;
  
        &-label {
          font-weight: bold;
        }
  
        &-input,
        &-select,
        &-textarea {
          width: 90%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
        }
      }
    }
  
    &__submit {
      padding: 10px 20px;
      background-color: #333;
      border: 1px solid #333;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: white;
        color: #333;
        // border: 1px solid #333;
      }
    }
  }
