@import '../../utils/utils.scss';

:root {
    box-sizing: border-box;
}

.container {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: auto;

    &__title {
        margin: 3rem auto 1rem;
        font-size: 3.5rem;

    }
}

.carousel {
    margin: 20px auto;
    max-width: 100vw; 

    &>h2 {
        text-align: center;
        font-size: 36px;
    }
    
    &__view {
        display: flex;
        gap: 10px;
        overflow: hidden;

        &:nth-child(n) {
            overflow: hidden;
        }
    }
}



