
:root {
    --main-white: white;
    --main-grey: #333;
    --main-black: black;
    --ligth-gray: #616070;
    --optional-darkBlue: #060b35;
    --optional-biege: #f5f5dc;
    --optional-green: #bce27f;
    --optional-rose: #e4a598;
}


