.register {
    min-height: 60vh;
    margin: auto;
    text-align: center;
    
    &__title {
        font-size: 3.5rem;
    }

    &__window {
        border: 1px solid #ccc;
        border-radius: 4px;
        max-width: 400px;
        padding: 1rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: last baseline;
        padding-bottom: 50px;
        position: relative;

        input {
            margin: 1rem;
        }
    }

    &__button {
        position: absolute;
        bottom: 5%;
        z-index: 3;
        left: 45%;
        padding: 0.2rem 0.5rem;
        &:hover {
            cursor: pointer;
            background-color: #ccc;
            border-radius: 4px;
        }
    }
}